<h2>Add a Beach</h2>
<form method ="POST" action= "/beaches/add">
  <input type="text" name ="name" placeholder="beach name">
  <input type="url" name="image" placeholder="image url">
  <textarea type="text" name="textarea" placeholder="entertext"></textarea>
  <button type="submit">Add Beach</button>
</form>
